.header{

}
.indirimCode{
    display: flex;
    padding: 0.5em;
    justify-content: center;
    background-color: black;
    color: white;
}
.headerNav{
    display: flex;
    justify-content: space-between;
    border: 5px black double;
}
.mainIcon{
    background-color: yellow;
    padding: 0.9em 2em 0.9em 2em;
    font-size: 1.5em;
    border-right: 2px black solid;
}
.navBarBtns{
    display: flex;
    justify-content: space-around;

}
.nbBtn{
    font-size: 1.2em;
    padding: 1.1em 3em 1.1em 3em; 
    border-left: 2px black solid ;
}
.nbBtn:hover{
    background-color: black;
    color: white;
}


.food{
    width: 100%;
}
.foodTop{
    display: flex;
    height: 12em;
}
.topStart{
    border: 1px black solid;
    display: flex;
    width: 35%;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}
.topEnd{
    border: 1px black solid;
    display: flex;
    width: 65%;
    justify-content: space-evenly;
    
}
.foodH{
    font-size: 1.4em;
    margin: 1em 0em 0.8em 0em;
}
