.fullPage{
    display: flex;
    margin: 2em 5em 2em 5em;
    justify-content:space-evenly;
}
.sepetCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 2em 0 0;
}
.sepetItem{
    padding: 1em;
    display: flex;
    width: 500px;
}
.itemImg{
    padding: 0 1em 0 1em;
    width: 6em;
    height: 8em;
}
.itemInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.itemDel{
    display: flex;
    width: 2em;
    height: 1.5em;
    border: 3px black double;
    padding: 0.2em 0.5em;
}
.itemDel:hover{
    background-color: black;
    color: white;
    cursor: pointer
}
.sepetInfo{
    display: flex;
    flex-direction: column;
}
.sInfo{
    padding: 0.3em;
}
.sInfo:hover{
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer
}
.fullSiparis{
    flex-direction: column;
    display: flex;
}
.sepetHead{
    font-size: 1.6em;

}
.siparisAra{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6em;
    padding: 1em 0em 1em;
}
.araToplam{
    display: flex;
    justify-content: space-between;
}
.toplam{
    padding: 0.4em 0em;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}
.siparisBtn{
    display: flex;
    cursor: pointer;
    background-color: black;
    color: greenyellow;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 0.5em 5em ;
}
.siparisBtn:hover{
    color: white;
}