@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.aFullAnimePage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.aPageCard{
    max-width: 21em ;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.aPageImg{
    margin: 1em;
    width: 20em;
}
.aPageName{
    color: #f25a28;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.5em
}
.animePageInfo{
    max-width: 400px;
    margin: 1em 0;
    padding: 1em;
    background-color: rgba(80, 80, 80, 0.4);
}
.aPageInfoHeader{
    color: #f25a28;
    font-size: 1.6em;
}
.aPageEpisodes{
        margin: 0.5em;
        height: 500px;
        width: 200px;
        border: 5px #f25a28 double;
}
.episodes{
    border: 2px #F9931E solid;
    margin: 0.5em;
    background-color: #f25a28;
    border-radius: 20px;
    padding: 0 10px;
}
.episodes:hover{
    background-color: #F9931E;
}
.episodes:active{
    border-color: #f25a28;
}
.sezon{
    border:2px #F9931E solid;
    background-color: #F9931E;
    margin: 5px 10px;
    border-radius: 100px;
    padding:0 50px ;
    cursor: pointer;
    user-select: none;
}
.sezon:hover{
    background-color: #f25a28;
}
.sezon:active{
    opacity: 0.8;
}