@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
.animeHead{
    display: flex;
    justify-content: space-around;
    margin: auto;
    user-select: none;
}
.aHeadBtn{
    color: #F9931E;
    font-size: 1.2em;
    padding: 48px 0 0 0;
    font-family: 'Gloria Hallelujah', cursive;
    display: flex;
    width: 400px;
    justify-content: space-between;
}
.aLogoImg{
    margin: -1em 0 0 0;
    height: 10em;
}
.aLogReg{
    font-size: 1.2em;
    padding: 44px 5px 0 0;
    color: #F25A28;
    font-family: 'Gloria Hallelujah', cursive;
}
.aLogRegBtn{
    margin:0 0.2em;
    font-weight: bold;
    padding: 0 1em 0.3em 1.2em;
    border: 3px #F9931E solid ;
    border-radius: 5px 40px;
    backdrop-filter: blur(20px);
}
.aLogRegBtn:hover{
    backdrop-filter: blur(5px);
    color: #F9931E;
    border: 3px #F25A28 dotted;
}
.aLogRegBtn:active{
    border: 3px #F25A28 solid;
    backdrop-filter: blur(20px);
}
.animeTypeDropDown{
    visibility: hidden;
    position: absolute;
    padding: 0.2em 0.3em;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0px 30px;
    color: #F25A28;
    border: 3px #F9931E solid;
    z-index: 99;
    text-align: center;
}
.aDropDownBtns:hover{
    color: #F9931E;
}
.aDropDownBtns:active{
    opacity: 0.8;
}
.show{
    visibility: visible;
}
