.App{
  height: 100vh;
  width: 100%;
  background-image:url("./img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin:auto;

}
.AppLayer2{
  display: flex;
  max-width: 1000px;
  justify-content: center;
  margin:auto;
}